.textField {
    width: 480px;
}

.label {
    display: block;
    font-weight: bold;
    font-size: var(--font-size-medium);
    color: var(--text-colour);
    margin-bottom: 5px;
}

.input {
    height: var(--element-height-regular);
    font-size: var(--font-size-medium);
    width: 100%;
    padding: 0 0.5em;
}

.error {
    font-size: var(--font-size-small);
    color: rgb(255, 19, 66);
    margin: 5px;
}
