.Login {
  
}

.Login__form {
    width: 280px;
}

.Login__formLabel {
    display: block;
    width: 100%;
    text-align: left;
}

.Login__formInput {
    width: 100%;
    margin-bottom: 10px;
}

.Login__formError {
    margin: 15px 0;
    color: red;
}

.Login__formButton {
    margin-top: 15px;
}

.Login__link {
    color: white;
}
