.button {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.primary {
    border-color: var(--primary-colour-dark);
    background-color: var(--primary-colour-dark);
}

.secondary {
    border-color: var(--secondary-colour-dark);
    background-color: var(--secondary-colour-dark);
}

.regular {
    font-size: var(--font-size-medium);
    height: var(--element-height-regular);
    padding: 0 13px;
}

.large {
    font-size: var(--font-size-large);
    height: var(--element-height-large);
    padding: 0 18px;
}

.disabled {
    filter: grayscale(0.3);
    opacity: 0.7;
    cursor: not-allowed;
} 

.primary:hover:not(:disabled) {
    border-color: var(--primary-colour-medium);
    background-color: var(--primary-colour-medium);
}

.primary:active:not(:disabled) {
    border-color: var(--primary-colour-dark);
    background-color: var(--primary-colour-dark);
}

.secondary:hover:not(:disabled) {
    border-color: var(--secondary-colour-medium);
    background-color: var(--secondary-colour-medium);
}

.secondary:active:not(:disabled) {
    border-color: var(--secondary-colour-dark);
    background-color: var(--secondary-colour-dark);
}


