:root {
    /* Primary Colour */
    --primary-colour-medium: hsl(225, 73%, 57%);
    --primary-colour-dark: hsl(225, 73%, 53%);

    /* Secondary Colour */
    --secondary-colour-medium: hsl(120, 61%, 34%);
    --secondary-colour-dark: hsl(120, 61%, 30%);

    /* Fonts */
    --font-size-xsmall: 13px;
    --font-size-small: 14px;
    --font-size-medium: 15px;
    --font-size-large: 20px;
    font-family: 'Cantarell', sans-serif;

    /* Geometry */
    --element-height-regular: 34px;
    --element-height-large: 42px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.themes_white__3aP4k {
    --text-colour: black;
    --hover-background-colour: hsla(0, 0%, 70%, 20%);
    --active-background-colour: hsla(0, 0%, 80%, 20%);
}

.themes_midnight__1ruva {
    --text-colour: white;
    --hover-background-colour: hsla(0, 0%, 100%, 20%);
    --active-background-colour: hsla(0, 0%, 80%, 20%);
}

.Button_button__5z6FD {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.Button_primary__2dQ0_ {
    border-color: var(--primary-colour-dark);
    background-color: var(--primary-colour-dark);
}

.Button_secondary__2GosY {
    border-color: var(--secondary-colour-dark);
    background-color: var(--secondary-colour-dark);
}

.Button_regular__2Fnh5 {
    font-size: var(--font-size-medium);
    height: var(--element-height-regular);
    padding: 0 14px;
}

.Button_large__2GsEe {
    font-size: var(--font-size-large);
    height: var(--element-height-large);
    padding: 0 18px;
}

.Button_disabled__r4MgB {
    filter: grayscale(0.3);
    opacity: 0.7;
    cursor: not-allowed;
} 

.Button_primary__2dQ0_:hover:not(:disabled) {
    border-color: var(--primary-colour-medium);
    background-color: var(--primary-colour-medium);
}

.Button_primary__2dQ0_:active:not(:disabled) {
    border-color: var(--primary-colour-dark);
    background-color: var(--primary-colour-dark);
}

.Button_secondary__2GosY:hover:not(:disabled) {
    border-color: var(--secondary-colour-medium);
    background-color: var(--secondary-colour-medium);
}

.Button_secondary__2GosY:active:not(:disabled) {
    border-color: var(--secondary-colour-dark);
    background-color: var(--secondary-colour-dark);
}



.IconButton_button__2eVym {
    border: 1px solid transparent;
    border-radius: 10%;
    background-color: transparent;
    width: var(--element-height-regular);
    height: var(--element-height-regular);
    cursor: pointer;
}

.IconButton_button__2eVym:hover {
    background-color: var(--hover-background-colour);
}

.IconButton_button__2eVym:active {
    background-color: var(--active-background-colour);
}

.IconButton_icon__20f3E {
    fill: var(--text-colour);
    width: 24px;
    height: 24px;
}
.Loader_loader__3BFju {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-column-gap: 15px;
    column-gap: 15px;
    height: var(--element-height-regular);
    padding: 0 10px;
}

.Loader_dot__3SFPx {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-colour);
    animation: Loader_pulse__3600L 1s infinite ease-in-out;
}

.Loader_dot1__32xEh {
    animation-delay: 0s;
}

.Loader_dot2__205C1 {
    animation-delay: 0.25s;
}

.Loader_dot3__8xkLS {
    animation-delay: 0.5s;
}

@keyframes Loader_pulse__3600L {
    0% {
        transform: scale(0%);
        opacity: 0.25;
    }
    90% {
        transform: scale(100%);
        opacity: 0.75;
    }
}
.TextField_textField__3P1pP {
    --error-message-width: 180px;
    --error-message-colour: rgb(255, 19, 66);
    --input-padding: calc(var(--font-size-medium) / 1.8);
    width: 500px;
    position: relative;
}

.TextField_label__29kkb {
    display: block;
    font-weight: bold;
    font-size: var(--font-size-small);
    color: var(--text-colour);
    padding-left: 2px;
}

.TextField_input__8NgKP {
    height: var(--element-height-regular);
    font-size: var(--font-size-medium);
    width: 100%;
    padding-left: var(--input-padding);
    padding-right: var(--error-message-width);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.TextField_errorMessage__1El0V {
    font-size: var(--font-size-xsmall);
    color: var(--error-message-colour);
    text-align: right;
    position: absolute;
    bottom: calc(var(--element-height-regular) / 2);
    transform: translateY(50%);
    right: var(--input-padding);
    width: calc(var(--error-message-width) - var(--input-padding));
}

.TextField_errorIcon__jvM2Y {
    fill: var(--error-message-colour);
    width: calc(var(--element-height-regular) / 2.1);
    height: calc(var(--element-height-regular) / 2.1);
    margin-right: 4px;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
  margin-left: 10px;
}

section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}


/*# sourceMappingURL=main.0061f6f5.chunk.css.map*/