:root {
    /* Primary Colour */
    --primary-colour-medium: hsl(225, 73%, 57%);
    --primary-colour-dark: hsl(225, 73%, 53%);

    /* Secondary Colour */
    --secondary-colour-medium: hsl(120, 61%, 34%);
    --secondary-colour-dark: hsl(120, 61%, 30%);

    /* Fonts */
    --font-size-xsmall: 13px;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px; 
    --font-size-xlarge: 28px;
    --font-size-xxlarge: 34px;
    font-family: 'Open Sans', sans-serif;

    /* Geometry */
    --element-height-regular: 34px;
    --element-height-large: 42px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
