:root {
    /* Primary Colour */
    --primary-colour-medium: hsl(225, 73%, 57%);
    --primary-colour-dark: hsl(225, 73%, 54%);

    /* Secondary Colour */
    --secondary-colour-medium: hsl(120, 61%, 34%);
    --secondary-colour-dark: hsl(120, 61%, 31%);

    /* Fonts */
    --font-size-small: 13px;
    --font-size-medium: 15px;
    --font-size-large: 20px;
    font-family: 'Cantarell', sans-serif;

    /* Geometry */
    --element-height-regular: 32px;
    --element-height-large: 42px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}
