.SearchBar {
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}

.SearchBar__wrapper {
    position: relative;
    display: inline-block;
    height: var(--input-height);
    max-width: 600px;
    flex-grow: 2;
}

.SearchBar__input {
    display: inline-block;
    height: var(--input-height);
    width: 100%;
    padding: 0 4px;
}

.SearchBar__button {
    width: 75px;
    height: var(--input-height);
}

.SearchBar__results {
    position: absolute;
    top: var(--input-height);
    left: 0;
    right: 0;
    border: none;
    background-color: hsla(229, 20%, 43%, 90%);
}

.SearchBar__resultsItem {
    list-style-type: none;
    text-align: left;
    height: var(--input-height);
    padding: 0 4px;
    line-height: var(--input-height);
    cursor: pointer;
}

.SearchBar__resultsItem:hover {
    background-color: hsla(39, 70%, 40%, 100%);
}
