
.SearchBar {
    padding: 40px 40px;
    /* border: 1px solid red; */
    position: relative;
    max-width: 680px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-template-areas: 
        "input button";
    column-gap: 4px;
}

.SearchBar--active {
    padding-bottom: 20px;
}

.SearchBar__input {
    display: inline-block;
    width: 100%;
    grid-area: input;
}

.SearchBar__button {
    grid-area: button;
    width: 60px;
}

.SearchBar__results {
    background-color: hsla(229, 20%, 43%, 95%);
}

.SearchBar__resultsItem {
    list-style-type: none;
    text-align: left;
}


