.MovieList {
    /* border: 1px solid green; */
    padding-top: 20px;
}

.MovieList__listItem {
    list-style-type: none;
    height: 160px;
    margin: 10px 0;
    background-color: hsla(229, 27%, 10%, 80%);
    display: flex;
    align-items: center;
    justify-content: center;
}
