.MovieList {
    /* padding-top: 50px; */
}

.MovieList__listItem {
    list-style-type: none;
    height: 320px;
    margin: 30px 0;
    background-color: hsla(229, 27%, 10%, 80%);
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.MovieList__listItem_heading {
    font-size: 20px;
}

.MovieList__poster {
   display: inline-block; 
   height: 100%;
   min-width: 216px;
}

.MovieList__listItem_details {
    flex-grow: 1;
    height: 100%;
    padding: 40px;
}

.MovieList__listItem_details_listItem {
    list-style-type: none;
    margin: 15px 0;
}
