.CreateAccount {
  
}

.CreateAccount__form {
    width: 280px;
}

.CreateAccount__formLabel {
    display: block;
    width: 100%;
    text-align: left;
}

.CreateAccount__formInput {
    width: 100%;
    margin-bottom: 10px;
}

.CreateAccount__formError {
    margin-top: 15px;
}

.CreateAccount__formButton {
    margin-top: 15px;
}

.CreateAccount__link {
    color: white;
}
