.CreateAccount {
  
}

.CreateAccount__form {
    width: 280px;
}

.CreateAccount__formLabel {
    display: block;
    width: 100%;
    text-align: left;
}

.CreateAccount__formInput {
    width: 100%;
    margin-bottom: 10px;
}

.CreateAccount__formError {
    margin: 15px 0;
    color: hsl(0, 80%, 50%);
}

.CreateAccount__formSuccess {
    margin: 15px 0;
    color: hsl(120, 80%, 50%);
}

.CreateAccount__formButton {
    margin-top: 15px;
}

.CreateAccount__link {
    color: white;
}
