.variables {
    /* Blue */
    --blue-medium: hsl(225, 73%, 57%);
    --blue-dark: hsl(225, 73%, 54%);
    /* Green */
    --green-medium: hsl(120, 61%, 34%);
    --green-dark: hsl(120, 61%, 31%);
}
